<div fxFlexLayout="column">
        <h1 mat-dialog-title>Editar Copia</h1>
        <div mat-dialog-content>
          <mat-form-field>
            <input type="number" matInput [(ngModel)]="fotocopia.num_fotocopias" placeholder="Fotocopias">
          </mat-form-field>
          
          <h4>Curso</h4>
          <mat-form-field>
            <mat-label>Curso</mat-label>
            <mat-select name="miselectCurso" [(ngModel)]="fotocopia.curso">
              <mat-option *ngFor="let curso of listaCursos" [value]="curso.data.nombre">{{curso.data.nombre}}</mat-option>
            </mat-select>
          </mat-form-field>
          
        </div>
        <div mat-dialog-actions>
          <button mat-button (click)="close()">Cancelar</button>
          <button mat-button (click)="editFotocopia()" cdkFocusInitial>Guardar</button>
        </div>
        </div>
