<!--
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Opciones</title>
    <link rel="stylesheet" href="./assets/css/sidebar.css">
    <script src="https://kit.fontawesome.com/ba901dc1bc.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <input type="checkbox" id="check">
    <label for="check">
      <i class="material-icons" id="btn">reorder</i>
      <i class="material-icons" id="cancel">chevron_left</i>
    </label>
    <div class="sidebar">
    <header>
        <a [routerLink]="[ '/zonas' ]">
            <img src="./assets/img/logoParkapp.png" alt="" class="logo">
        </a>
    </header>
  <ul>
    <i class="fas fa-thumbs-up fa-5x"></i>
    <li><a class="optselect" [routerLink]="[ '/zonas' ]" mat-menu-item><i class="material-icons">place</i>Zonas</a></li>
    <li><a class="optselect" [routerLink]="[ '/usuarios' ]"mat-menu-item><i class="material-icons">person_pin</i>Usuarios</a></li>
    <li><a class="optselect" [routerLink]="[ '/aparcamientos' ]" mat-menu-item><i class="material-icons">directions_car</i>Aparcamientos</a></li>
    <li><a class="optselect" [routerLink]="[ '/resenas' ]" mat-menu-item><i class="material-icons">comment</i>Reseñas</a></li>
    <li><a class="optselect" [routerLink]="[ '/historial' ]" mat-menu-item><i class="material-icons">schedule</i>Historial</a></li>

    <li><a class="optselect logout" (click)="logout()"><i class="material-icons">exit_to_app</i>Cerrar sesión</a></li>
  </ul>
</div>
 <section>
 <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="0px" class="container">
  <table mat-table [dataSource]="listadoResena" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> id </th>
      <td mat-cell *matCellDef="let element"> {{element._id}} </td>
    </ng-container>
    
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Titulo </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>
  
    <ng-container matColumnDef="body">
      <th mat-header-cell *matHeaderCellDef> Cuerpo </th>
      <td mat-cell *matCellDef="let element"> {{element.body}} </td>
    </ng-container>

    <ng-container matColumnDef="rate">
        <th mat-header-cell *matHeaderCellDef> Valoración </th>
        <td mat-cell *matCellDef="let element"> {{element.rate}} </td>
      </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element"> 
                         <button mat-icon-button aria-label="Editar fotocopia" (click)="dialogEditFotocopia(element)">
              <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button aria-label="Eliminar zona" (click)="dialogDeleteResena(element)">
            <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table> 
  <button mat-fab (click)="dialogCrearResena()" class="mat-fab-bottom-right fbtn" style="z-index: 9; background: #dc001b; color: white">
    <mat-icon class="mat-24">add</mat-icon>
  </button>   
  </div>
</section>
  </body>
</html> -->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Opciones</title>
    <link rel="stylesheet" href="./assets/css/sidebar.css">
    <script src="https://kit.fontawesome.com/ba901dc1bc.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <input type="checkbox" id="check">
    <label for="check">
      <i class="material-icons" id="btn">reorder</i>
      <i class="material-icons" id="cancel">chevron_left</i>
    </label>
    <div class="sidebar">
    <header>
        <a [routerLink]="[ '/zonas' ]">
            <img src="./assets/img/logoParkapp.png" alt="" class="logo">
        </a>
    </header>
  <ul>
    <i class="fas fa-thumbs-up fa-5x"></i>
    <li><a class="optselect" [routerLink]="[ '/zonas' ]" mat-menu-item><i class="material-icons">place</i>Zonas</a></li>
    <li><a class="optselect" [routerLink]="[ '/usuarios' ]"mat-menu-item><i class="material-icons">person_pin</i>Usuarios</a></li>
    <li><a class="optselect" [routerLink]="[ '/aparcamientos' ]" mat-menu-item><i class="material-icons">directions_car</i>Aparcamientos</a></li>
    <li><a class="optselect" [routerLink]="[ '/resenas' ]" mat-menu-item><i class="material-icons">comment</i>Reseñas</a></li>
    <li><a class="optselect" [routerLink]="[ '/historial' ]" mat-menu-item><i class="material-icons">schedule</i>Historial</a></li>

    <li><a class="optselect logout" (click)="logout()"><i class="material-icons">exit_to_app</i>Cerrar sesión</a></li>
  </ul>
</div>
 <section>
  <div class="mat-elevation-z8" class="container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> id </th>
        <td mat-cell *matCellDef="let element"> {{element._id}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Título </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="body">
        <th mat-header-cell *matHeaderCellDef> Comentario </th>
        <td mat-cell *matCellDef="let element"> {{element.body}} </td>
      </ng-container>

      <ng-container matColumnDef="rate">
        <th mat-header-cell *matHeaderCellDef> Valoración </th>
        <td mat-cell *matCellDef="let element"> {{element.rate}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">
        <button mat-icon-button aria-label="Eliminar zona" (click)="dialogDeleteResena(element)">
          <mat-icon>delete</mat-icon>
        </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

  <button mat-fab (click)="dialogCrearResena()" class="mat-fab-bottom-right fbtn" style="z-index: 9; background: #dc001b; color: white">
    <mat-icon class="mat-24">add</mat-icon>
  </button>
  </div>
</section>
  </body>
</html>

