<div fxFlexLayout="column">
    <h1 mat-dialog-title>Nuevo Aparcamiento</h1>
    <div mat-dialog-content>
        <mat-form-field>
            <input matInput [(ngModel)]="aparcamientoDto.nombre" type="text" placeholder="Nombre" required>
          </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="aparcamientoDto.puntuacion" type="number" placeholder="Puntuación" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="aparcamientoDto.dimension" placeholder="Dimensión" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="aparcamientoDto.longitud" type="text" placeholder="Longitud" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="aparcamientoDto.latitud" type="text" placeholder="Latitud" required>
      </mat-form-field>

      <h4>Zona</h4>
      <mat-form-field>
        <mat-label>Zona</mat-label>
        <mat-select name="miselectZona" [(ngModel)]="aparcamientoDto.zonaId">
          <mat-option *ngFor="let zona of listaZona" [value]="zona._id">{{zona.nombre}}</mat-option>
        </mat-select>
      </mat-form-field>
      
    </div>
    <input [(ngModel)]="aparcamientoDto.avatar" type="file" placeholder="Imagen" (change)="selectImage($event)">
    <div mat-dialog-actions>
      <button mat-button (click)="close()">Cancelar</button>
      <button mat-button (click)="onSubmit()" cdkFocusInitial>Guardar</button>
    </div>

    </div>

