<form [formGroup]="imageForm" (ngSubmit)="onSubmit()">

        
<!--
        <input type="file" (change)="ficheroSeleccionado($event)" placeholder="Archivo" required /> -->
<!--
      <div class="col-md-6 offset-md-3">
          <h3>Choose File</h3>            
          <div class="form-group">
              <input type="file" name="image" (change)="fileProgress($event)" />
          </div>
          <div *ngIf="fileUploadProgress">
              Upload progress: {{ fileUploadProgress }}
          </div>
          <div class="image-preview mb-3" *ngIf="previewUrl">
              <img [src]="previewUrl" height="300" />                 
          </div>

          <div class="mb-3" *ngIf="uploadedFilePath">
              {{uploadedFilePath}}
          </div>
      </div> -->

      <input
            type="file"
            id="file"
            placeholder="File"
            (change)="onFileChange($event)"
            #fileInput 
            formControlName="file">
    <img *ngIf="image" id="thumbnail" title="thumb" src={{image}} class="thumbnail"/>

      <button mat-button (click)="close()">Cancelar</button>
      <!--<button mat-button (click)="doUploadAparcamiento()" cdkFocusInitial>Guardar</button>-->
      <button mat-raised-button color="primary" type="submit" [disabled]="imageForm.valid">Enviar</button>
</form>
