<div fxFlexLayout="column">
    <h1 mat-dialog-title>Nueva Copia</h1>
    <div mat-dialog-content>
      <mat-form-field>
        <input type="number" matInput [(ngModel)]="fotocopiaDto.num_fotocopias" placeholder="Fotocopias">
      </mat-form-field>
      
      <h4>Curso</h4>
      <mat-form-field>
        <mat-label>Curso</mat-label>
        <mat-select name="miselectCurso" [(ngModel)]="fotocopiaDto.curso">
          <mat-option *ngFor="let curso of listaCursos" [value]="curso.data.nombre">{{curso.data.nombre}}</mat-option>
        </mat-select>
      </mat-form-field>
      
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="close()">Cancelar</button>
      <button mat-button (click)="createFotocopia()" cdkFocusInitial>Guardar</button>
    </div>
    </div>
