.container {
    padding: 30px;
    margin-bottom: 20px;
}

mat-icon{
    cursor: pointer;
  }

.caja {
    padding: 50px 50px;
    width: 300px;
    border: 1px solid rgba(0, 0, 0, 0.555);
    border-radius: 15%;
}

th.mat-header-cell{
    text-align: center;
    font-weight: bolder;
}

tr.mat-row{
    text-align: center;
}