<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px" class="container">
    <button mat-fab color="primary" [routerLink]="[ '/createAdmin' ]">
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">add</mat-icon>
    </button>
</div>

<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="0px" class="container">
<table mat-table [dataSource]="listaUsuarios" class="mat-elevation-z8">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Id </th>
          <td mat-cell *matCellDef="let usuario"> {{usuario.id}} </td>
        </ng-container>
        

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let usuario"> {{usuario.email}} </td>
        </ng-container>
 
        <ng-container matColumnDef="roles">
            <th mat-header-cell *matHeaderCellDef> Roles </th>
            <td mat-cell *matCellDef="let usuario"> {{usuario.roles}} </td>
        </ng-container>
    

          <ng-container matColumnDef="colegio">
            <th mat-header-cell *matHeaderCellDef> Colegio </th>
            <td mat-cell *matCellDef="let usuario"> {{usuario.colegio}} </td>
          </ng-container>
  

        <ng-container matColumnDef="editar">
          <th mat-header-cell *matHeaderCellDef> Editar </th>
          <td mat-cell *matCellDef="let usuario">
            <mat-icon aria-hidden="false" aria-label="editar" (click)="openEditDialog(usuario)">edit</mat-icon>
          </td>
        </ng-container>
  
        <ng-container matColumnDef="borrar">
          <th mat-header-cell *matHeaderCellDef> Borrar </th>
          <td mat-cell *matCellDef="let usuario">
            <mat-icon aria-hidden="false" aria-label="borrar" (click)="openDeleteDialog(usuario)">delete</mat-icon>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
</table>
</div>