<div fxFlexLayout="column">
    <h1 mat-dialog-title>Nuevo Usuario</h1>
    <div mat-dialog-content>
      <mat-form-field>
        <input matInput [(ngModel)]="usuarioDto.nombre" placeholder="Nombre">
      </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="usuarioDto.email" placeholder="Email">
      </mat-form-field>
      
      <h4>Rol</h4>
      <mat-form-field>
        <mat-label>Rol</mat-label>
        <mat-select name="miselectRol" [(ngModel)]="usuarioDto.rol">
          <mat-option *ngFor="let rol of listaRoles" [value]="rol">{{rol}}</mat-option>
        </mat-select>
      </mat-form-field>
      
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="close()">Cancelar</button>
      <button mat-button (click)="createUser()" cdkFocusInitial>Guardar</button>
    </div>

    </div>
